## This NB serves the purpose of concatenate the continente and pingo doce datasets. And filter the full dataset 2 times: one time for further analysis and a second time to provide consumer information. 

- Note: this NB was made in google colab.

In [27]:
import time
import json

import random
import datetime

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

from google.colab import drive

import chardet
import re

In [28]:
drive.mount('drive')

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

### Concatenate the data sets in the intersected columns and respecting the indexes.

In [29]:
continente = pd.read_csv(r'conti.csv',  encoding='utf-8')
pingo_doce = pd.read_csv(r'pingo_doce.csv',  encoding='utf-8')

In [30]:
continente

,Unnamed: 0,id,Category,Name,Amount,Unit,List_Price,Price_per_unit_of_measure,Currency
0,0,2076239,mercearia,Atum em Azeite,0.12,KG,1.22,14.19,€
1,1,7405690,mercearia,Cápsulas de Café Buondi Int 8,64.00,UN,18.99,0.30,€
2,2,2113579,mercearia,Atum Filetes em Azeite,0.12,KG,2.53,32.44,€
3,3,2305902,mercearia,Arroz Agulha,1.00,KG,1.59,1.59,€
4,4,7106089,mercearia,Batata Frita Gourmet Lisa Corte Fino,0.15,KG,2.69,17.93,€
...,...,...,...,...,...,...,...,...,...
11260,12246,4374082,refeicoes-faceis,Massa Fusilli com Pesto,0.15,KG,1.49,9.93,€
11261,12247,6561375,refeicoes-faceis,Hambúrguer Sementes sem Glúten,0.16,KG,3.39,21.19,€
11262,12248,7551410,refeicoes-faceis,Tagliatelle Fresco Biológico,0.25,UN,2.19,2.19,€
11263,12249,7600279,refeicoes-faceis,Pastel com Salmão,1.00,KG,1.19,14.00,€
11264,12250,7378676,refeicoes-faceis,Empada de Cozido,2.00,KG,0.99,12.38,€

In [31]:
pingo_doce

,Unnamed: 0,Time scraped,Category,Name,Amount,Units,List_Price,Price_per_unit_of_measure,Currency
0,0,2023-05-12 18:26:22,mercearia,Doce de Abóbora Sabores do Campo,0.310,KG,1.99,6.42,€
1,1,2023-05-12 18:26:22,mercearia,Sal em Saco Rui Simeão Marinho DOP,1.500,KG,1.37,0.91,€
2,2,2023-05-12 18:26:22,mercearia,Doce de Tomate Sabores do Campo,0.310,KG,1.99,6.42,€
3,3,2023-05-12 18:26:22,mercearia,Snack Hóstias de Camarão Zanuy,0.050,KG,1.79,35.80,€
4,4,2023-05-12 18:26:22,mercearia,Cacau Cru em Pepitas Seara,0.100,KG,3.99,39.90,€
...,...,...,...,...,...,...,...,...,...
5596,6179,2023-05-12 16:32:53,frigorífico,Iogurte Soja sem Açúcar Frutos Vermelhos Alpro,0.135,KG,1.16,8.59,€
5597,6180,2023-05-12 16:32:53,frigorífico,Iogurte Líquido sem Lactose de Mirtilo e Chá ...,0.624,KG,3.10,19.87,€
5598,6181,2023-05-12 16:32:53,frigorífico,Iogurte Skyr de Soja Natural Alpro,0.400,KG,2.82,7.05,€
5599,6182,2023-05-12 16:32:53,frigorífico,Iogurte Skyr de Soja Morango Alpro,0.400,KG,2.82,7.05,€
5600,6183,2023-05-12 16:32:53,frigorífico,Iogurte Sólido Magro Coco Manga e Pêssego Mim...,0.960,KG,2.34,2.44,€

In [32]:
pingo_doce.columns

Index(['Unnamed: 0', 'Time scraped', 'Category', 'Name', 'Amount', 'Units',
       'List_Price', 'Price_per_unit_of_measure', 'Currency'],
      dtype='object')

In [33]:
continente.columns

Index(['Unnamed: 0', 'id', 'Category', 'Name', 'Amount', 'Unit', 'List_Price',
       'Price_per_unit_of_measure', 'Currency'],
      dtype='object')

In [34]:
## add column Store to dataset
continente['Store'] = 'continete'
pingo_doce['Store'] = 'pingo_doce'

In [35]:
## rename column
continente = continente.rename(columns={"Unnamed: 0": "Old_index",})

In [36]:
## increment value of Index
pingo_doce['Old_index'] = pingo_doce['Unnamed: 0'] + len(continente)

In [37]:
intersec_columns = []

for column in continente.columns:
  if column in pingo_doce.columns:
    intersec_columns.append(column)

intersec_columns

['Old_index',
 'Category',
 'Name',
 'Amount',
 'List_Price',
 'Price_per_unit_of_measure',
 'Currency',
 'Store']

In [38]:
continente_concat = continente[intersec_columns]

pingo_doce_concat = pingo_doce[intersec_columns]

frames = [continente_concat, pingo_doce_concat]

df_concat = pd.concat(frames)

df_concat = df_concat.reset_index()
df_concat = df_concat.drop(['index'], axis=1)

df_concat

,Old_index,Category,Name,Amount,List_Price,Price_per_unit_of_measure,Currency,Store
0,0,mercearia,Atum em Azeite,0.120,1.22,14.19,€,continete
1,1,mercearia,Cápsulas de Café Buondi Int 8,64.000,18.99,0.30,€,continete
2,2,mercearia,Atum Filetes em Azeite,0.120,2.53,32.44,€,continete
3,3,mercearia,Arroz Agulha,1.000,1.59,1.59,€,continete
4,4,mercearia,Batata Frita Gourmet Lisa Corte Fino,0.150,2.69,17.93,€,continete
...,...,...,...,...,...,...,...,...
16861,17444,frigorífico,Iogurte Soja sem Açúcar Frutos Vermelhos Alpro,0.135,1.16,8.59,€,pingo_doce
16862,17445,frigorífico,Iogurte Líquido sem Lactose de Mirtilo e Chá ...,0.624,3.10,19.87,€,pingo_doce
16863,17446,frigorífico,Iogurte Skyr de Soja Natural Alpro,0.400,2.82,7.05,€,pingo_doce
16864,17447,frigorífico,Iogurte Skyr de Soja Morango Alpro,0.400,2.82,7.05,€,pingo_doce
16865,17448,frigorífico,Iogurte Sólido Magro Coco Manga e Pêssego Mim...,0.960,2.34,2.44,€,pingo_doce

Standerdization of categories

In [39]:

category_mapping = {
    'mercearia': ['mercearia', 'bio-e-escolhas-alimentares'],
    'padaria_pastelaria': ['padaria_pastelaria', 'padaria-e-pastelaria'],
    'frutas_legumes': ['frutas_legumes', 'frutas-e-legumes'],
    'peixaria_talho': ['talho', 'peixaria', 'peixaria-e-talho'],
    'leite_ovos': ['leite_ovos_natas', 'laticinios-e-ovos'],
    'congelados': ['congelados'],
    'frigorifico': ['take-away', 'frigorífico', 'refeicoes-faceis', 'charcutaria-e-queijos']
}

conditions = [
    df_concat['Category'].isin(category_mapping['mercearia']),
    df_concat['Category'].isin(category_mapping['padaria_pastelaria']),
    df_concat['Category'].isin(category_mapping['frutas_legumes']),
    df_concat['Category'].isin(category_mapping['peixaria_talho']),
    df_concat['Category'].isin(category_mapping['leite_ovos']),
    df_concat['Category'].isin(category_mapping['congelados']),
    df_concat['Category'].isin(category_mapping['frigorifico'])
]

choices = [
    'mercearia',
    'padaria_pastelaria',
    'frutas_legumes',
    'peixaria_talho',
    'leite_ovos',
    'congelados',
    'frigorifico'
]

df_concat['Standardized_Category'] = np.select(conditions, choices, default=df_concat['Category'])

In [40]:
category_mapping = {
    'MERC': ['mercearia', 'bio-e-escolhas-alimentares'],
    'PAPA': ['padaria_pastelaria', 'padaria-e-pastelaria'],
    'FRLE': ['frutas_legumes', 'frutas-e-legumes'],
    'PETA': ['talho', 'peixaria', 'peixaria-e-talho'],
    'LEOV': ['leite_ovos_natas', 'laticinios-e-ovos'],
    'CONGE': ['congelados'],
    'FRIGO': ['take-away', 'frigorífico', 'refeicoes-faceis', 'charcutaria-e-queijos']
}

conditions = [
    df_concat['Category'].isin(category_mapping['MERC']),
    df_concat['Category'].isin(category_mapping['PAPA']),
    df_concat['Category'].isin(category_mapping['FRLE']),
    df_concat['Category'].isin(category_mapping['PETA']),
    df_concat['Category'].isin(category_mapping['LEOV']),
    df_concat['Category'].isin(category_mapping['CONGE']),
    df_concat['Category'].isin(category_mapping['FRIGO'])
]

choices = [
    'MERC',
    'PAPA',
    'FRLE',
    'PETA',
    'LEOV',
    'CONGE',
    'FRIGO'
]

df_concat['Abbr_Category'] = np.select(conditions, choices, default=df_concat['Category'])

In [41]:
df_concat.drop(['Category'], axis = 1, inplace = True)

### First filter. We filtered the first time with 1 token of each foodstuff (alimento) as one can see through the "basic_cabaz" list!

In [42]:
## selecting just the products with name of basic cabaz

In [43]:
#basic_cabaz = ['Leite', 'Queijo', 'Pão', 'Arroz', 'Massa', 'Cereal', 'Tosta', 'Bolacha', 'Feijão', 'Grão-de-bico', 'Ervilhas', 
   #            'Frango', 'Pescada', 'Atum', 'Sardinha', 'Cavala', 'Tomate', 'Vegetais', 'Brocolos', 'Espinafre', 'Cenoura', 'Alho', 'Azeite', 'Creme Vegetal', 'Marmelada']

basic_cabaz = [
    'Leite', 'Queijo', 'Arroz', 'Massa', 'Cereal', 'Tosta', 'Bolacha Maria', 
    'Feijão', 'Grão de bico', 'Ervilha', 'Frango', 'Pescada', 'Atum', 'Sardinha',
    'Cavala', 'Tomate', 'Vegetais', 'Brócolos', 'Feijão Verde', 'Espinafre', 'Cenoura',
    'Alho Francês', 'Azeite', 'Creme Vegetal', 'Marmelada'
]

In [44]:
# Create an empty DataFrame
all_filtered_data = pd.DataFrame()

for index, basic_product in enumerate(basic_cabaz):
    pattern = r'{}'.format(basic_product)
    filtered = df_concat[df_concat['Name'].str.contains(pattern, flags=re.IGNORECASE)].copy()
    filtered.loc[:, 'Cabaz_product'] = index

    # Remove the values already present in all_filtered_data
    if len(all_filtered_data) > 0:
        filtered_df = filtered[~filtered['Old_index'].isin(all_filtered_data['Old_index'])]
    else:
        filtered_df = filtered

    all_filtered_data = pd.concat([all_filtered_data, filtered_df])

df_all_filtered_data = all_filtered_data.sort_index()

In [45]:
df_all_filtered_data.count()

Old_index                    3629
Name                         3629
Amount                       3629
List_Price                   3629
Price_per_unit_of_measure    3629
Currency                     3629
Store                        3629
Standardized_Category        3629
Abbr_Category                3629
Cabaz_product                3629
dtype: int64

In [46]:
df_all_filtered_data['Standardized_Category'].value_counts()

mercearia             2000
frigorifico            860
leite_ovos             226
congelados             206
peixaria_talho         154
padaria_pastelaria     104
frutas_legumes          79
Name: Standardized_Category, dtype: int64

In [47]:
df_all_filtered_data

,Old_index,Name,Amount,List_Price,Price_per_unit_of_measure,Currency,Store,Standardized_Category,Abbr_Category,Cabaz_product
0,0,Atum em Azeite,0.120,1.22,14.19,€,continete,mercearia,MERC,12
2,2,Atum Filetes em Azeite,0.120,2.53,32.44,€,continete,mercearia,MERC,12
3,3,Arroz Agulha,1.000,1.59,1.59,€,continete,mercearia,MERC,2
5,5,Massa Esparguete,0.500,1.16,2.32,€,continete,mercearia,MERC,3
7,7,Atum ao Natural,0.120,1.12,13.33,€,continete,mercearia,MERC,12
...,...,...,...,...,...,...,...,...,...,...
16846,17392,Queijo Fundido A Vaca que Ri,0.125,1.59,12.72,€,pingo_doce,frigorifico,FRIGO,1
16847,17393,Queijo Fundido Light A Vaca que Ri,0.125,1.59,12.72,€,pingo_doce,frigorifico,FRIGO,1
16848,17394,Smoothie+ Leite de Coco e Frutos Vermelhos Pi...,0.250,0.99,3.96,€,pingo_doce,frigorifico,FRIGO,0
16849,17395,Queijo de Ovelha Grande Seia do Tavares,0.990,16.30,16.3,€,pingo_doce,frigorifico,FRIGO,1
16857,17403,Massa Filó Zimi,0.300,2.79,9.3,€,pingo_doce,frigorifico,FRIGO,3

In [48]:
df_all_filtered_data.describe()

          Old_index       Amount   List_Price  Cabaz_product
count   3629.000000  3629.000000  3629.000000    3629.000000
mean    8906.814274     0.769850     3.302824       6.281345
std     5372.513097     3.790185     3.342309       6.926408
min        0.000000     0.001080     0.150000       0.000000
25%     3878.000000     0.150000     1.570000       1.000000
50%     9775.000000     0.300000     2.350000       3.000000
75%    12927.000000     0.500000     3.760000      11.000000
max    17403.000000   186.300000    35.470000      24.000000

In [49]:
df_all_filtered_data.to_csv('data_cabaz_prducts.csv')

## Second filter. Here we filter the "df_all_filtered_data" dataset that contains 3629 rows × 9 columns using rapidfuzz. Now we use all tokens of the foodstuff (alimentos) to improve the accuracy of the filter.

Reducing the df_all_filtered_data with the rapidfuzz library

In [50]:
items_cabaz = [
    'Leite Meio Gordo', 'Queijo Meio Gordo', 'Arroz', 'Massa', 'Cereais', 'Tostas', 'Bolacha Maria',
    'Feijão lata', 'Grão-de-bico lata', 'Ervilhas lata', 'Frango inteiro congelado',
    'Pescada congelada', 'Atum lata', 'Sardinha', 'Cavala lata', 'Tomate pelado',
    'Mistura de vegetais para sopa', 'Brócolos', 'Feijão Verde', 'Espinafres', 'Cenoura',
    'Alho Francês', 'Azeite', 'Creme Vegetal', 'Marmelada'
]

In [51]:
df_re = df_all_filtered_data.copy()

In [52]:
!pip install rapidfuzz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: rapidfuzz in /usr/local/lib/python3.10/dist-packages (3.0.0)

In [54]:
# The code matches each product name of the full dataset with each of the name of the items_cabaz list and "build" a new data frame with the matched products. The WRatio was the scorer that present better results and the limit 15 is a reasonable number after testing.

from rapidfuzz import fuzz, process, utils

matches_data = pd.DataFrame(columns = df_re.columns)

for i in items_cabaz: 
  matches = matches = process.extract(i, df_re['Name'], scorer = fuzz.WRatio, limit = 15, processor = utils.default_process)
  for matched in matches:
    row = df_re.loc[df_re['Name'] == matched[0]]
    matches_data = pd.concat([matches_data, row])
  
matches_data.reset_index(drop = True, inplace = True)

In [55]:
matches_data

,Old_index,Name,Amount,List_Price,Price_per_unit_of_measure,Currency,Store,Standardized_Category,Abbr_Category,Cabaz_product
0,8530,Leite UHT Meio Gordo,3.00,1.11,1.85,€,continete,leite_ovos,LEOV,0
1,8547,Leite UHT Meio Gordo,3.00,0.89,1.48,€,continete,leite_ovos,LEOV,0
2,8809,Leite UHT Meio Gordo,3.00,1.11,1.85,€,continete,leite_ovos,LEOV,0
3,8915,Leite UHT Meio Gordo,8.00,6.40,0.80,€,continete,leite_ovos,LEOV,0
4,9248,Leite UHT Meio Gordo,0.25,0.92,3.68,€,continete,leite_ovos,LEOV,0
...,...,...,...,...,...,...,...,...,...,...
1231,3166,Marmelada Nature,0.25,3.99,15.96,€,continete,mercearia,MERC,24
1232,7776,Marmelada Nature,0.25,3.99,15.96,€,continete,mercearia,MERC,24
1233,4211,Marmelada em Cubos,0.25,3.89,15.56,€,continete,mercearia,MERC,24
1234,3148,Marmelada Light,0.40,3.49,8.73,€,continete,mercearia,MERC,24
1235,6929,Marmelada Light,0.40,3.49,8.73,€,continete,mercearia,MERC,24

In [56]:
matches_data['Store'].value_counts()

continete     1202
pingo_doce      34
Name: Store, dtype: int64

## Testing Zone

In [58]:
from rapidfuzz import fuzz, process, utils

for i in items_cabaz: 
  matches = process.extract(i, df_re['Name'], scorer = fuzz.WRatio, limit = 15, processor = utils.default_process)
  print(f"Matches for {i}: {matches} \n")

Matches for Leite Meio Gordo: [('Leite UHT Meio Gordo', 95.0, 8041), ('Leite UHT Meio Gordo', 95.0, 8056), ('Leite UHT Meio Gordo', 95.0, 8301), ('Leite UHT Meio Gordo', 95.0, 8399), ('Leite UHT Meio Gordo', 95.0, 8669), ('Leite Meio Gordo Fresco', 95.0, 8883), (' Leite Meio Gordo Vigor ', 95.0, 16104), ('Leite Meio Gordo sem Lactose', 90.0, 5798), ('Leite Meio Gordo Infantil sem Lactose + 3 Anos', 90.0, 7499), ('Leite Meio Gordo sem Lactose', 90.0, 8057), ('Leite Meio Gordo Infantil sem Lactose + 3 Anos', 90.0, 8808), ('Tablete de Chocolate de Leite Extrafino sem Glúten', 85.5, 9), ('Leite em Pó Confort 2 +6M sem Glúten', 85.5, 16), ('Bolachas Cobertas Chocolate de Leite', 85.5, 182), ('Bolachas Argolinhas com Cobertura Chocolate de Leite', 85.5, 320)]

Matches for Queijo Meio Gordo: [('Queijo Meio Gordo', 100.0, 9103), ('Queijo Meio Gordo', 100.0, 9448), ('Queijo Fresco Meio Gordo', 95.0, 9101), ('Queijo Fresco Meio Gordo', 95.0, 9107), ('Queijo Meio Gordo sem Lactose', 90.0, 9346), (' Queijo Meio Gordo Fonte Mourisca ', 90.0, 16478), (' Queijo Meio Gordo D. Pedro ', 90.0, 16788), ('Snack Equilíbrio de Cereais Queijo e Cebola', 85.5, 447), ('Snacks Milho Futebolas Sabor Queijo', 85.5, 675), ('Snack para Bebé Ervilha e Queijo +8M', 85.5, 1138), ('Nachos de Milho Sabor a Queijo', 85.5, 1458), ('Bolachas Cracker Sabor a Queijo', 85.5, 1577), ('Cones de Milho Sabor Queijo e Bacon', 85.5, 1637), ('Snacks Milho Rolitos Queijo', 85.5, 1671), ('Croutons com Queijo e Sésamo', 85.5, 1802)]

Matches for Arroz: [('Arroz Agulha', 90.0, 3), ('Arroz Basmati', 90.0, 8), ('Arroz Agulha Europa', 90.0, 37), ('Arroz Carolino', 90.0, 62), ('Arroz Vaporizado', 90.0, 91), ('Arroz Carolino', 90.0, 104), ('Arroz Carolino', 90.0, 128), ('Arroz Basmati Extra Longo', 90.0, 131), ('Arroz Integral Extra Longo', 90.0, 148), ('Arroz Basmati', 90.0, 179), ('Arroz Agulha', 90.0, 212), ('Arroz Agulha Selecionado', 90.0, 213), ('Arroz Vaporizado', 90.0, 269), ('Arroz Basmati Extra Longo', 90.0, 298), ('Arroz Carolino Extra Longo', 90.0, 301)]

Matches for Massa: [('Massa Esparguete', 90.0, 5), ('Massa Esparguete', 90.0, 11), ('Massa Esparguete Pack Poupança', 90.0, 44), ('Massa Esparguete', 90.0, 46), ('Massa Espirais', 90.0, 48), ('Massa Fusilli', 90.0, 58), ('Massa Espirais Fusilli Tricolor', 90.0, 75), ('Massa Macarronete Penne Grande Riscado', 90.0, 99), ('Massa Esparguete Tricolor', 90.0, 109), ('Massa Farfalle', 90.0, 120), ('Massa Penne Rigate', 90.0, 123), ('Massa Macarrão Riscado', 90.0, 135), ('Massa Esparguete Integral', 90.0, 143), ('Massa Penne Rigate sem Glúten', 90.0, 144), ('Massa Espirais Fusilli', 90.0, 158)]

Matches for Cereais: [('Snack Equilíbrio de Cereais Queijo e Cebola', 90.0, 447), ('Cereais Crockers Recheio de Leite', 90.0, 583), ('Barras de Cereais Chocolate de Leite e Banana', 90.0, 646), ('Tostas Rústicas 9 Cereais', 90.0, 960), ('Bolachas Pequeno Almoço Cereais Leite', 90.0, 1001), ('Cereais de Arroz Tufado com Chocolate', 90.0, 1268), ('Alimento Lácteo Cereais e Bolacha Maria +6M', 90.0, 1623), ('Bolachas de Cereais com Leite', 90.0, 1702), ('Cereais Rice Krispies Arroz Tostado com Mel', 90.0, 2114), ('Tortitas de Arroz Multicereais sem Glúten', 90.0, 2179), ('Barras de Cereais Chocolate de Leite Muesli', 90.0, 2604), ('Cereais Krave Leite', 90.0, 2718), ('Barras de Cereais Delice Chocolate de Leite Fitness', 90.0, 2769), ('Hambúrguer de Cereais com Queijo', 90.0, 3030), ('Barras de Cereais Chocolate de Leite Línea', 90.0, 3431)]

Matches for Tostas: [('Mini Tostas de Trigo', 90.0, 214), ('Tostas Extra Finas', 90.0, 323), ('Tostas com Tomate e Orégãos', 90.0, 599), ('Tostas Suecas Integrais', 90.0, 607), ('Mini Tostas Integrais', 90.0, 615), ('Tostas Integrais', 90.0, 624), ('Tostas Rústicas', 90.0, 627), ('Tostas Suecas', 90.0, 723), ('Tostas Rústicas Integrais', 90.0, 770), ('Tostas com Alho e Salsa', 90.0, 783), ('Tostas com Azeite e Sal', 90.0, 940), ('Tostas de Trigo', 90.0, 941), ('Tostas Rústicas 9 Cereais', 90.0, 960), ('Tostas de Trigo', 90.0, 1105), ('Mini Tostas de Trigo', 90.0, 1135)]

Matches for Bolacha Maria: [('Bolacha Maria', 100.0, 1607), ('Bolacha Maria', 100.0, 6627), ('Bolacha Maria Dourada', 90.0, 864), ('Alimento Lácteo Cereais e Bolacha Maria +6M', 90.0, 1623), ('Nestum Bolacha Maria +3A', 90.0, 2204), ('Papa Infantil Não Láctea Bolacha Maria +6M', 90.0, 3391), ('Papa Infantil Farinha Não Láctea 8 Cereais e Mel Bolacha Maria +6M', 90.0, 3811), ('Leite e Cereais Bolacha Maria +6M', 90.0, 3932), ('Bolacha Maria Hojaldrada', 90.0, 4449), ('Suplemento Gold Colagénio + Ácido Hialurónico Sabor Bolacha Maria', 90.0, 6990), ('100% Whey Isso & Go Bolacha Maria', 90.0, 7373), ('Natilhas Bolacha Maria', 90.0, 8585), ('Natilhas Bolacha Maria', 90.0, 11107), (' Cereais de Bolacha Maria Nestlé Nestum ', 90.0, 12997), (' Bolsa de Fruta Banana Laranja Bolacha Maria Nestlé ', 90.0, 13599)]

Matches for Feijão lata: [('Feijão Frade Cozido', 85.5, 81), ('Feijão Preto Cozido', 85.5, 111), ('Feijão Manteiga Cozido', 85.5, 115), ('Feijão Encarnado Cozido', 85.5, 121), ('Feijão Branco Cozido', 85.5, 124), ('Feijão Branco Cozido', 85.5, 126), ('Feijão Preto Cozido', 85.5, 136), ('Feijão Frade Cozido', 85.5, 155), ('Feijão Frade Cozido', 85.5, 173), ('Feijão Encarnado Cozido', 85.5, 185), ('Feijão Manteiga Cozido', 85.5, 199), ('Feijão Encarnado Cozido', 85.5, 207), ('Feijão Branco Cozido', 85.5, 209), ('Feijão Frade Cozido', 85.5, 219), ('Feijão Encarnado Cozido', 85.5, 226)]

Matches for Grão-de-bico lata: [('Grão de Bico', 95.0, 880), ('Grão de Bico', 95.0, 1099), ('Grão de Bico', 95.0, 2419), ('Grão de Bico', 95.0, 6736), ('Tablete de Chocolate de Leite Extrafino sem Glúten', 85.5, 9), ('Grão de Bico Cozido sem Glúten', 85.5, 24), ('Grão de Bico Cozido sem Glúten', 85.5, 32), ('Grão de Bico Cozido sem Glúten', 85.5, 82), ('Grão de Bico Cozido sem Glúten', 85.5, 163), ('Atum em Posta em Óleo de Girassol', 85.5, 171), ('Bolachas Cobertas Chocolate de Leite', 85.5, 182), ('Filete de Cavala em Azeite', 85.5, 183), ('Saqueta de Fruta Maçã, Pera e Cenoura +8M', 85.5, 216), ('Grão de Bico Cozido sem Glúten', 85.5, 240), ('Polpa de Tomate com Cebola e Alho', 85.5, 250)]

Matches for Ervilhas lata: [('Ervilhas', 90.0, 2894), ('Ervilhas', 90.0, 10220), ('Ervilhas', 90.0, 10246), ('Ervilhas', 90.0, 10252), ('Ervilhas', 90.0, 10331), ('Ervilhas', 90.0, 10595), ('Ervilhas', 90.0, 10598), ('Ervilhas com Cenoura sem Glúten', 85.5, 403), ('Salsichas de Frango Cuida-t+ Lata 8 un', 85.5, 428), ('Ervilhas Cozidas sem Glúten', 85.5, 512), ('Ervilhas Cozidas sem Glúten', 85.5, 1220), ('Ervilhas e Cenouras sem Glúten', 85.5, 1296), ('Ervilhas Cozidas Lata sem Glúten', 85.5, 1301), ('Ervilhas Frasco sem Glúten', 85.5, 3553), ('Azeite Virgem Extra Reserva Lata', 85.5, 4417)]

Matches for Frango inteiro congelado: [('Frango Inteiro', 90.0, 9601), ('Frango Inteiro', 90.0, 9622), ('Salsichas de Frango Cuida-t+ Lata 8 un', 85.5, 428), ('Salsichas de Frango Cuida-t+ Frasco 4 un', 85.5, 1067), ('Refeição para Bebé Legumes, Frango e Arroz +6M', 85.5, 1463), ('Molho Suculento Frango no Forno à Provençal com Ervas Aromáticas em Saqueta', 85.5, 1983), ('Arroz de Frango e Cogumelos Pot Pronto a Comer', 85.5, 1999), ('Patê de Frango', 85.5, 2215), ('Refeição para Bebé Arroz de Tomate e Frango +6M', 85.5, 2274), ('Especiarias para Frango no Forno em Frasco', 85.5, 2353), ('Molho Suculento Frango Campestre no Forno com Alho e Cebola em Saqueta', 85.5, 2552), ('Refeição para Bebé Ervilha, Batata e Frango +6M', 85.5, 2606), ('Tempero para Frango de Alho e Cebola', 85.5, 2704), ('Tempero para Frango de Ervas Aromáticas', 85.5, 2715), ('Molho Suculento Frango no Forno Barbecue em Saqueta', 85.5, 3090)]

Matches for Pescada congelada: [('Barrinhas de Pescada sem Glúten', 85.5, 6219), ('Barrinhas de Pescada com Limão sem Glúten', 85.5, 6248), ('Filetes de Pescada sem Glúten', 85.5, 6433), ('Medalhões de Pescada do Cabo Ultracongelados', 85.5, 9586), ('Filetes de Pescada Congelados', 85.5, 9594), ('Mimos de Pescada Ultracongelada', 85.5, 9604), ('Mimos de Pescada do Cabo Ultracongelados', 85.5, 9615), ('Lombos de Pescada do Cabo Ultracongelados', 85.5, 9628), ('Filetes de Pescada do Cabo Ultracongelados', 85.5, 9637), ('Pescada Média do Cabo MSC para Cozer Ultracongelada', 85.5, 9643), ('Perninha de Frango Congelada', 85.5, 9655), ('Pescada Grande do Cabo MSC para Cozer Ultracongelada', 85.5, 9662), ('Medalhões de Pescada do Cabo MSC Ultracongelada', 85.5, 9668), ('Medalhões de Pescada do Cabo Ultracongelada', 85.5, 9676), ('Medalhões de Pescada sem Pele Ultracongelada', 85.5, 9685)]

Matches for Atum lata: [('Atum em Azeite', 85.5, 0), ('Atum Filetes em Azeite', 85.5, 2), ('Atum ao Natural', 85.5, 7), ('Atum Posta em Azeite', 85.5, 10), ('Atum Posta ao Natural', 85.5, 27), ('Atum em Azeite', 85.5, 33), ('Atum Posta ao Natural', 85.5, 41), ('Atum Posta ao Natural', 85.5, 45), ('Atum Posta em Óleo sem Glúten', 85.5, 49), ('Atum ao Natural', 85.5, 57), ('Atum Posta em Azeite', 85.5, 63), ('Atum Posta em Azeite', 85.5, 66), ('Atum Posta em Azeite', 85.5, 77), ('Atum ao Natural', 85.5, 129), ('Filete Atum em Azeite Biológico', 85.5, 154)]

Matches for Sardinha: [('Sardinha em Tomate com Picante', 90.0, 465), ('Patê de Sardinha', 90.0, 531), ('Sardinha em Tomate', 90.0, 628), ('Sardinha em Azeite', 90.0, 727), ('Sardinha Inteira em Tomate', 90.0, 782), ('Sardinha sem Pele e sem Espinha em Azeite', 90.0, 818), ('Sardinha em Azeite', 90.0, 853), ('Sardinha em Tomate Picante', 90.0, 869), ('Sardinha em Tomate', 90.0, 890), ('Patê de Sardinha', 90.0, 978), ('Sardinha em Azeite', 90.0, 1012), ('Sardinha Inteira em Azeite Refinado', 90.0, 1032), ('Patê de Sardinha', 90.0, 1036), ('Sardinha sem Pele e sem Espinha em Tomate', 90.0, 1072), ('Sardinha em Tomate Picante', 90.0, 1079)]

Matches for Cavala lata: [('Filete de Cavala em Azeite', 85.5, 183), ('Salsichas de Frango Cuida-t+ Lata 8 un', 85.5, 428), ('Filete de Cavala em Óleo', 85.5, 663), ('Cavala em Tomate Picante', 85.5, 726), ('Cavala Inteira em Tomate', 85.5, 1228), ('Filete de Cavala em Azeite', 85.5, 1272), ('Ervilhas Cozidas Lata sem Glúten', 85.5, 1301), ('Filete de Cavala ao Natural', 85.5, 1852), ('Filete de Cavala em Azeite', 85.5, 2902), ('Filete de Cavala em Óleo', 85.5, 3755), ('Filetes de Cavala em Azeite Biológico', 85.5, 4205), ('Azeite Virgem Extra Reserva Lata', 85.5, 4417), ('Filete de Cavala em Óleo', 85.5, 4846), ('Ervilhas Cozidas Lata sem Glúten', 85.5, 6147), (' Filetes de Cavala em Óleo Vegetal Pitéu ', 85.5, 12386)]

Matches for Tomate pelado: [('Tomate Pelado', 100.0, 112), ('Tomate Pelado', 100.0, 188), ('Tomate Pelado Inteiro', 90.0, 102), ('Tomate Pelado em Pedaços', 90.0, 108), ('Tomate Pelado Inteiro', 90.0, 616), ('Tomate Pelado Inteiro', 90.0, 829), ('Tomate Pelado Inteiro', 90.0, 5963), (' Tomate Pelado Inteiro Pingo Doce ', 90.0, 11398), (' Tomate Pelado Inteiro Pingo Doce ', 90.0, 11486), (' Tomate Pelado Biológico Mutti ', 90.0, 11687), (' Tomate Pelado Guloso ', 90.0, 13401), ('Doce Extra de Tomate', 85.5, 100), ('Polpa Tomate Passata', 85.5, 223), ('Polpa de Tomate com Cebola e Alho', 85.5, 250), ('Atum Posta em Molho de Tomate e Oregãos', 85.5, 258)]

Matches for Mistura de vegetais para sopa: [(' Mistura de Vegetais para Saltear Congelada Pingo Doce ', 86.78571428571429, 15799), ('Tablete de Chocolate de Leite Extrafino sem Glúten', 85.5, 9), ('Polpa de Tomate', 85.5, 43), ('Polpa de Tomate', 85.5, 52), ('Polpa de Tomate', 85.5, 231), ('Leite de Coco', 85.5, 247), ('Tortitas de Arroz com 54% Chocolate sem Glúten', 85.5, 305), ('Bolachas Argolinhas com Cobertura Chocolate de Leite', 85.5, 320), ('Filete de Atum em Azeite com Manjericão e Tomate', 85.5, 331), ('Polpa de Tomate', 85.5, 382), ('Patê de Sardinha', 85.5, 531), ('Polpa de Tomate', 85.5, 585), ('Tortitas Vitalday de Arroz, Iogurte e Framboesa sem Glúten', 85.5, 586), ('Polpa de Tomate', 85.5, 641), ('Barras de Cereais Chocolate de Leite e Banana', 85.5, 646)]

Matches for Brócolos: [('Brócolos', 100.0, 10224), ('Brócolos', 100.0, 10230), ('Veggie Bowls Trigo Sarraceno e Brócolos', 90.0, 5920), ('Almôndegas de Brócolos', 90.0, 7436), ('Almôndegas de Brócolos', 90.0, 10026), ('Mistura de Brócolos, Couve-flor e Cenoura', 90.0, 10349), ('Veggie Bowls Trigo Sarraceno e Brócolos', 90.0, 10873), ('Almôndegas de Brócolos', 90.0, 10901), ('Sopa de Brócolos', 90.0, 11182), ('Sopa de Brócolos', 90.0, 11192), (' Floretes de Brócolos - Embalagem 0.3 Kg ', 90.0, 14621), (' Brócolos - Unidade 0.42 Kg ', 90.0, 14666), (' Veggie Rice de Couve-flor e Brócolos Pingo Doce ', 90.0, 15544), (' Brócolos Congelados Pingo Doce ', 90.0, 15681), (' Brócolos Congelados Iglo ', 90.0, 15721)]

Matches for Feijão Verde: [('Feijão Verde', 100.0, 5493), ('Feijão Mung Verde', 95.0, 4249), ('Feijão Mung Verde', 95.0, 7709), ('Feijão Verde Largo', 90.0, 5481), ('Feijão Verde Biológico', 90.0, 5898), ('Mix de Pimento e Feijão Verde Crocantes', 90.0, 7532), ('Mistura de Feijão Verde e Cenoura', 90.0, 10228), ('Sopa de Feijão Verde', 90.0, 10824), ('Sopa de Feijão Verde', 90.0, 10960), (' Feijão Verde Pingo Doce - Embalagem ', 90.0, 14545), (' Feijão Verde Bio - Embalagem 0.3 Kg ', 90.0, 14548), (' Feijão Verde - Unidade 0.25 Kg ', 90.0, 14650), (' Feijão Verde com Cenoura - Embalagem 0.4 Kg ', 90.0, 14685), (' Sopa de Feijão Verde ', 90.0, 15486), (' Sopa de Feijão Verde sem Adição de Sal ', 90.0, 15513)]

Matches for Espinafres: [('Espinafre', 94.73684210526316, 5422), ('Espinafre', 94.73684210526316, 5539), ('Tortellinni com Ricotta e Espinafres', 90.0, 2173), ('Hambúrguer de Espinafres', 90.0, 2957), ('Preparado para Sopa de Espinafres', 90.0, 5527), ('Creme Batata Doce e Espinafres', 90.0, 5671), ('Sumo Maçã, Pepino, Espinafres, Aipo Limão e Gengibre', 90.0, 5677), ('Tortellini Fresco de Ricotta e Espinafres', 90.0, 5802), ('Fingers de Espinafres', 90.0, 6000), ('Gnocchi com Molho de Tomate e Espinafres', 90.0, 6267), ('Empanadilha Espinafres e Queijo', 90.0, 6715), ('Hambúrguer Vegetariano de Espinafres', 90.0, 6744), ('Hambúrguer de Espinafres', 90.0, 6923), ('Rolo de Carne de Porco com Espinafres e Queijo', 90.0, 9806), ('Hambúrguer Vegetariano de Espinafres', 90.0, 9956)]

Matches for Cenoura: [('Cenoura', 100.0, 5440), ('Saqueta de Fruta Maçã, Pera e Cenoura +8M', 90.0, 216), ('Saqueta de Fruta Maçã, Cenoura e Manga +6M', 90.0, 336), ('Ervilhas com Cenoura sem Glúten', 90.0, 403), ('Saqueta de Fruta Ameixa, Cenoura, Pera e Beterraba +6M', 90.0, 927), ('Snack para Bebé Cenoura +10M', 90.0, 965), ('Puré Maçã, Cenoura e Abóbora Saqueta', 90.0, 1197), ('Ervilhas e Cenouras sem Glúten', 90.0, 1296), ('Arroz de Cenoura Pronto a Comer sem Glúten', 90.0, 1542), ('Saqueta de Fruta Maçã, Banana e Cenoura +4M', 90.0, 1597), ('Boião de Fruta Pera, Banana e Cenoura +4M', 90.0, 1859), ('Refeição para Bebé Peru e Cenouras +6M', 90.0, 2800), ('Mini Cenoura', 90.0, 5193), ('Cenoura Embalada', 90.0, 5433), ('Cenoura Biológica', 90.0, 5468)]

Matches for Alho Francês: [('Creme de Alho Francês', 90.0, 2607), ('Alho Francês Cortado', 90.0, 5443), ('Sopa Alho Francês com Cenoura', 90.0, 5639), ('Alho Francês Biológico', 90.0, 5851), ('Alho Francês Cortado', 90.0, 10393), ('Croquete de Frango com Alho Francês', 90.0, 11235), (' Alho Francês Pingo Doce - Embalagem 0.4 Kg ', 90.0, 14559), (' Alho Francês Pedaços - Embalagem 0.4 Kg ', 90.0, 14624), (' Alho Francês Bio - Embalagem 0.4 Kg ', 90.0, 14634), (' Alho Francês Inteiro Pingo Doce - Embalagem 0.5 Kg ', 90.0, 14718), (' Alho Francês às Rodelas Congelado Pingo Doce ', 90.0, 15671), ('Polpa de Tomate com Cebola e Alho', 85.5, 250), ('Croutons com Azeite, Alho e Salsa', 85.5, 260), ('Polpa de Tomate com Cebola e Alho', 85.5, 497), ('Tostas com Alho e Salsa', 85.5, 783)]

Matches for Azeite: [('Azeite', 100.0, 26), ('Azeite', 100.0, 2962), ('Atum em Azeite', 90.0, 0), ('Atum Filetes em Azeite', 90.0, 2), ('Atum Posta em Azeite', 90.0, 10), ('Azeite Virgem Extra Selecionado Pet', 90.0, 14), ('Atum em Azeite', 90.0, 33), ('Azeite Virgem Extra', 90.0, 35), ('Azeite Virgem Extra Sublime', 90.0, 38), ('Atum Posta em Azeite', 90.0, 63), ('Batata Frita Lisa Azeite', 90.0, 64), ('Atum Posta em Azeite', 90.0, 66), ('Azeite Subtil', 90.0, 72), ('Atum Posta em Azeite', 90.0, 77), ('Azeite Virgem Extra Essencial', 90.0, 145)]

Matches for Creme Vegetal: [(' Creme Vegetal Becel ', 95.0, 16432), (' Creme Vegetal Flora ', 95.0, 16452), (' Creme Vegetal Becel ', 95.0, 16816), ('Creme Vegetal de Soja Light para Culinária', 90.0, 6141), ('Creme Vegetal de Aveia para Culinária', 90.0, 6306), ('Creme Vegetal de Aveia para Culinária Biológico', 90.0, 7977), ('Creme Vegetal de Soja para Culinária', 90.0, 8032), ('Creme Vegetal Culinário', 90.0, 8086), ('Creme Vegetal de Soja para Culinária', 90.0, 8088), ('Creme Vegetal Culinário Líquido', 90.0, 8105), ('Creme Vegetal para Barrar Sabor a Manteiga', 90.0, 8129), ('Creme Vegetal Sabor a Manteiga Proactiv', 90.0, 8294), ('Creme Vegetal para Barrar sabor a Manteiga', 90.0, 8315), ('Creme Vegetal Culinário', 90.0, 8318), ('Creme Vegetal Culinário Omega 3', 90.0, 8346)]

Matches for Marmelada: [('Marmelada', 100.0, 1236), ('Marmelada', 100.0, 1388), ('Marmelada', 100.0, 2932), ('Marmelada', 100.0, 3133), ('Marmelada', 100.0, 3265), ('Marmelada', 100.0, 4455), ('Marmelada', 100.0, 6915), ('Marmelada', 100.0, 7217), ('Marmelada Pack Poupança', 90.0, 762), ('Marmelada Extra', 90.0, 1493), ('Marmelada Light', 90.0, 3114), ('Taça de Marmelada', 90.0, 3120), ('Marmelada Nature', 90.0, 3132), ('Marmelada em Cubos', 90.0, 4168), ('Marmelada Light', 90.0, 6562)]

In [59]:
x = pd.DataFrame(matches)
x

                          0      1     2
0                 Marmelada  100.0  1236
1                 Marmelada  100.0  1388
2                 Marmelada  100.0  2932
3                 Marmelada  100.0  3133
4                 Marmelada  100.0  3265
5                 Marmelada  100.0  4455
6                 Marmelada  100.0  6915
7                 Marmelada  100.0  7217
8   Marmelada Pack Poupança   90.0   762
9           Marmelada Extra   90.0  1493
10          Marmelada Light   90.0  3114
11        Taça de Marmelada   90.0  3120
12         Marmelada Nature   90.0  3132
13       Marmelada em Cubos   90.0  4168
14          Marmelada Light   90.0  6562

## to remove?

In [ ]:
import pandas as pd
data = pd.read_excel('/Users/andrepedrooliveira/Documents/P4DS/Project/1200_cabaz_products_final.xlsx')
data.head()

In [ ]:
currency_to_clean = data['Currency']

In [ ]:
currency_cleaned = []

for i in currency_to_clean:
    x = i.replace('â‚¬', '€')
    currency_cleaned.append(x)

In [ ]:
data.drop(['Currency'], axis = 1, inplace = True)

In [ ]:
currency = currency_cleaned

In [ ]:
file_path = "/Users/andrepedrooliveira/Documents/P4DS/Project/data_info_final.csv"

data.to_csv(file_path, index=False)